<!DOCTYPE html>
<html lang="pt_BR">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Core</title>
   </head>
   <body>
      <h1>Core</h1>
      <p>Welcome to the Core application.</p>
     <ul>
       <li><a href="admin/">admin</a></li>
       <li><a href="import_siorg/">Importa SIORG</a></li>
      <li><a href="upload/">Upload SIAPE DW</a></li>
      <li><a href="servidores/">Servidores</a></li>
</ul>
     
    </body>
    </html>
    